.ipynb_checkpoints/
.DS_Store
__pycache__
123000015_merged_vep.vcf.gz.vcf.gz
123000015_merged_vep.vcf.gz.tbi
gel_data.ipynb
test_data/123000015_merged_vep.fixed.vcf.gz
test_data/123000015_merged_vep.fixed.vcf.gz.tbi
test_data/final_gene_list
test_data/LP3001077.merged.vep.fixed.roi.vcf.gz
test_data/LP3001077.merged.vep.fixed.roi.vcf.gz.tbi
test_data/FLG.sorted.vcf.gz
test_data/FLG.sorted.vcf.gz.tbi
test_data/LP3001077_genes.txt
pyvariantfilter.egg-info/
build/
dist/
temp/
test_data/123000015.ped
